<div class="header gx-5">
  <div class="logo">
    <img src="../../assets/img/calculator-100.png" height="35" width="35" alt="error"><label class="form-label">Age
      Calculator</label>
  </div>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" routerLink="./home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./contact">Contact</a>
    </li>
  </ul>
</div>