<div class="footer">
  <ul class="nav flex justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">© 2022 - 2023</a>
    </li>
  </ul>
  <div class="owner">
    <label>© Sachin Thokal</label><img src="../../assets/img/linkedin-48.png" alt="Linkedin" height="24" width="24">
    <p>Pune, Maharashtra , 411033</p>
  </div>
</div>
