<div class="footer">
  <ul class="nav flex justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contact" routerLinkActive>Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">© 2022 - 2023</a>
    </li>
  </ul>
  <div class="mt-2">
    <a href="https://www.instagram.com/sachin_thokal_patil/" target="_blank" routerLinkActive><img
        src="../../assets/img/instagram-48.png" alt="Linkedin" height="21" id="ownerName" width="21"></a>
    <a href="https://www.facebook.com/sachin.thokalpatil.58" target="_blank" routerLinkActive><img
        src="../../assets/img/facebook-48.png" alt="Linkedin" height="21" width="21"></a>
    <a href="https://www.linkedin.com/in/sachin-thokal-597650190/" target="_blank"><img
        src="../../assets/img/linkedin-48.png" alt="Linkedin" height="21" width="21"></a>
    <label><span>&#174; </span>Sachin Thokal</label><br>
    <div class="mt-2">
      <p><img src="../../assets/img/place-48.png" alt="Place" height="21" width="21"><span>&nbsp;</span>Pune,
        Maharashtra , 411033</p>
    </div>
  </div>
</div>