.footer {
  background-color: #002549;
  height: 125px;
}
.nav {
  margin-top: -40px;
}
label {
  margin: 10px 0px 0px 10px;
  color: whitesmoke;
  font-weight: bold;
}
a {
  color: whitesmoke;
}
p {
  color: whitesmoke;
  margin-left: 27px;
  font-size: small;
}
