<div class="body">
  <div class="card text-center">
    <div class="card-header">
      About Us !!
    </div>
    <div class="card-body">
      <h1 class="card-title">Software Developers</h1>
      <p>We are a group of IT professionals enthusiastic in creating quality free tools and content on the Internet. The
        main purpose of this website is to provide a comprehensive collection of free online age calculators for ease of
        public use.</p>
      <div class="MePic">
        <a><img src="../../assets/img/Pic 1.jpg" alt="Linkedin" height="200" id="ownerName" width="400"></a>
        <img src="../../assets/img/Pic 2.jpg" alt="Linkedin" height="200" id="ownerName" width="400">
      </div>
      <hr style="color: whitesmoke;">

      <div class="row"> <label class="next">
          <Marquee direction="right">Upcoming Calculators ...!!</Marquee>
        </label></div>
      <div class="row UpcomingCal">
        <div class="col-2">
          <h6>Finance Calculators</h6>
          <ul>
            <li>Interest Calculator</li>
            <li>FD Calculator</li>
          </ul>
        </div>
        <div class="col-2">
          <h6>Health Calculators</h6>
          <ul>
            <li>BMI Calculator</li>
            <li>BMR Calculator</li>
          </ul>
        </div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <a class="logo" href="https://www.instagram.com/sachin_thokal_patil/" target="_blank" routerLinkActive><img
          src="../../assets/img/instagram-48.png" alt="Linkedin" height="30" id="ownerName" width="30"></a>
      <a class="logo" href="https://www.facebook.com/sachin.thokalpatil.58" target="_blank" routerLinkActive><img
          src="../../assets/img/facebook-48.png" alt="Linkedin" height="30" width="30"></a>
      <a class="logo" href="https://www.linkedin.com/in/sachin-thokal-597650190/" target="_blank"><img
          src="../../assets/img/linkedin-48.png" alt="Linkedin" height="30" width="30"></a>
    </div>
  </div>
</div>