.body {
  height: 550px;
}
.card {
  margin: 100px 0px 0px 0px;
}
.card-footer {
  font-size: medium;
}

p {
  font-size: small;
}
.agedetails {
  margin-top: 10px;
}
a {
  text-decoration: none;
}
span {
  margin-top: 10px;
}
.btn {
  margin-top: 27px;
}
