.body {
  height: 1050px;
  border: 1px solid black;
  background-color: #a6a5a6;
}

.card {
  margin: 100px 0px 0px 0px;
}
.card-footer {
  font-size: medium;
}

.card-body {
  height: 240px;
  color: whitesmoke;
  background-image: url("../../assets/img/Tech.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-size: small;
}
.agedetails {
  margin-top: 10px;
}
a {
  text-decoration: none;
}
span {
  margin-top: 10px;
}
.btn {
  margin-top: 27px;
}
