<div class="body">
  <div class="card text-center">
    <div class="card-header">
      Contact Us !!
    </div>
    <div class="card-body">
      <h1 class="card-title">Send Feedback to Us !!</h1>
      <p class="card-text">We're open for any suggestion or just to have a feedback.</p>
      <form action="https://formsubmit.co/{{email}}" method="POST">
        <input type="hidden" name="_template" value="box">
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_subject" value="New submission of Feedback!">
        <input type="hidden" name="_next" value="https://find-my-age.000webhostapp.com/thanks.html">
        <div class="row">
          <div class="col-lg-12">
            <input type="name" name="User" placeholder="Enter Your Name...">
          </div>
          <div class="col-lg-12">
            <textarea placeholder="Enter your Message..." id="message" name="Feedback"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Send</button>
      </form>
    </div>
    <div class="card-footer text-muted">
      <a class="logo" href="https://www.instagram.com/sachin_thokal_patil/" target="_blank" routerLinkActive><img
          src="../../assets/img/instagram-48.png" alt="Linkedin" height="30" id="ownerName" width="30"></a>
      <a class="logo" href="https://www.facebook.com/sachin.thokalpatil.58" target="_blank" routerLinkActive><img
          src="../../assets/img/facebook-48.png" alt="Linkedin" height="30" width="30"></a>
      <a class="logo" href="https://www.linkedin.com/in/sachin-thokal-597650190/" target="_blank"><img
          src="../../assets/img/linkedin-48.png" alt="Linkedin" height="30" width="30"></a>
    </div>
  </div>
</div>